.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;
}

.header span {
	display: block;
}


.form-header,.section__header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}

.form input {
	margin-bottom: 12px;
}

.form {
	border: 5px solid #2727d9;
	padding: 40px 20px;
}

.section {
	padding: 30px 0;
}

.form-btn {
	margin: 15px auto;
	margin-bottom: 20px;
	background-color: #2727d9;
}

.feature {
	margin: 60px 0;
}

.feature p {
	margin-top: 20px;
}

.video {
	margin-bottom: 30px;
}


 .imgs__item {
 	margin: 5px;
 }
